.food-items {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 2vw;
  }
  
  .food-item-image {
    width: auto;
    height: 20vh; 
    height: auto;
}