.App {
  text-align: center;
}

header {
  background-color: #f0f0f0;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer; 
  font-family: 'Leckerli One', sans-serif;
  font-size: 1.5vh;
  background-color: #219ebc;
  transition-duration: 0.4s;
  height: 4vh;
  width: 8vh;
}

.search-button:hover {
  cursor: pointer; 
  background-color: #023047;
  color: white;
}

