.home-container {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  min-height: inherit;
  margin-top: 130px;
  padding-top: 30px;
  }

  h2 {
    font-family: 'Leckerli One', sans-serif;
    font-size: 6vh;
    font-weight: bold;
    color: #219ebc;
    margin: 0;
  }

  h3 {
    font-family: 'Leckerli One', sans-serif;
    font-size: 3vh;
    color: #219ebc;
    margin: 0;
  }
  
  